<p align="center"><img src="./img//pfp.png" height="100"></p>

<h1 align="center">hi! <img src="./img/blob.gif" height="24"></h1>

<p align="center">
  <a href="https://jnef13.github.io" target="_blank"><img alt="Static Badge" src="https://img.shields.io/badge/my_website-black?style=for-the-badge&logo=squarespace"></a>
  <img alt="Static Badge" src="https://img.shields.io/badge/my-repos-light_green?style=for-the-badge&logo=github">
</p>

I'm {{name}} (username {{username}}), and I'm an aspiring software engineer who specializes in front-end and static site generation (Hugo, Astro, ect...). 

## About Myself

I'm a Singaporean, and I generally do whatever I'm interested in. This can include learning a new language, a new JavaScript framework or static site generator, or making a Minecraft Mod (Yeah, I play Minecraft).

My skillset includes:

- Knowledge of several programming languages such as JavaScript, python, Java, and Rust.
- Great knowledge on static site generation.
- Knowledge of JavaScript frameworks such as Svelte (my beloved), Vue, React, and Astro.
- This list will be updated as my skillset grows.

## GitHub Stats

Yes, I know they're pretty bad but this is a new account, so I'm basically starting from scratch here.

<a href="https://github.com/anuraghazra/github-readme-stats">
  <img height=200 align="center" src="https://github-readme-stats.vercel.app/api?username=jnef13" />
</a>
<a href="https://github.com/anuraghazra/convoychat">
  <img height=200 align="center" src="https://github-readme-stats.vercel.app/api/top-langs?username=jnef13&layout=compact&langs_count=8&card_width=320" />
</a>

## My Projects

[![Readme Card](https://github-readme-stats.vercel.app/api/pin/?username=anuraghazra&repo=github-readme-stats)](https://github.com/anuraghazra/github-readme-stats)

*This README file is automatically generated, and has been last updated at {{date}}*